    $primary: #9c0;
    $white: #fff;
    $black: #000;
    $text: rgba(0, 0, 0, 0.54);
    $border: #dbdbdb;

@mixin font ($size,$weight, $lh, $align) {
    font: {
        size: $size;
        weight: $weight;
    }
    line-height: $lh;
    text-align: $align;
}

* {
    box-sizing: inherit;
    font-family: "Roboto", sans-serif;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

